 <!--Declaração do modelo de dados que será utilizado naquela view específica.-->
@model List<Produto>

<h2>Produtos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop através da lista de produtos para exibir cada um -->
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Id</td>
                <td>@produto.Nome</td>
                <td>@produto.Preco.ToString("C")</td><!--Converte para moeda-->
            </tr>
        }
    </tbody>
</table>
<a aps-asp-controller="Produto" asp-action="Create">Novo Produto</a>