@model Produto

<h2>Deletar Produto</h2>
<p>Você tem certeza  que deseja excluir o produto "@Model.Nome"?></p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id"/>
    <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>